{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "pug", "bash", "json", "diff"],
        "plugins": ["line-numbers"],
        "theme": "dark",
        "css": true
    }]
  ]
}