nav#navbar
  header #navbar header
  a.nav-link(href="#section_1_topic") section 1 topic
  a.nav-link(href="#section_2_topic") section 2 topic
  a.nav-link(href="#section_3_topic") section 3 topic
  a.nav-link(href="#section_4_topic") section 4 topic
  a.nav-link(href="#section_5_topic") section 5 topic
main#main-doc
  section.main-section#section_1_topic
    header section 1 topic
    p paragraph 1
    p paragraph 2
    code code 1
    ul
      li list item 1
      li list item 2
  section.main-section#section_2_topic
    header section 2 topic
    p paragraph 3
    p paragraph 4
    code code 2
  section.main-section#section_3_topic
    header section 3 topic
    p paragraph 5
    p paragraph 6
    code code 3
    ul 
      li list item 3
      li list item 4
  section.main-section#section_4_topic
    header section 4 topic
    p paragraph 7
    p paragraph 8
    code code 4
  section.main-section#section_5_topic
    header section 5 topic
    p paragraph 9
    p paragraph 10
    code code 5
    ul 
      li list item 5