@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-preset-env(stage: 0);

$rlh: 1.618;
$font-family-body: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Tahoma", sans-serif;
$font-family-section-heading: 'Montserrat', sans-serif;
$font-family-code: 'Fira Code', monospace;
$breakpoint: screen and (min-width: 1025px);

/*** COLORS ***/
$color-prism-default: hsl(0, 0%, 93%);
$color-prism-gray: hsl(226, 13%, 45%);
$color-prism-select: hsl(222, 14%, 20%);
$color-prism-background: hsl(222, 14%, 16%);
$color-prism-red: hsl(356, 100%, 68%);
$color-prism-orange: hsl(20, 100%, 68%);
$color-prism-gold: hsl(42, 100%, 65%);
$color-prism-yellow: hsl(59, 100%, 55%);
$color-prism-green: hsl(137, 67%, 60%);
$color-prism-cyan: hsl(183, 79%, 65%);
$color-prism-blue: hsl(209, 100%, 70%);
$color-prism-purple: hsl(267, 96%, 75%);
$color-body-text: hsl(227, 12%, 85%);
$color-logo-subtitle: hsl(226, 12%, 58%);
$color-navbar-bg: hsl(233, 12%, 13%);
$color-body-bg: hsl(225, 10%, 8%);
$color-tree-line: hsl(137, 64%, 55%);
$color-body-link: hsl(196, 100%, 73%);
$color-pre-wrapper-bg: hsl(209, 100%, 62%);
$color-navbar-text: white;
$color-navbar-shadow: hsla(0, 0%, 0%, .2);
$color-section-heading: white;
$color-navlink-bg-hover: #000;
$color-inline-code: hsl(49, 100%, 70%);
$color-inline-code-bg: hsl(222, 14%, 20%);
$color-new-fcc-toggler-btn-bg: hsl(227, 12%, 30%);
$linear-grad-70gbg: linear-gradient(70deg, hsl(139, 59%, 55%), hsl(196, 100%, 53%), hsl(139, 59%, 55%));

/*** MIXINS ***/
@define-mixin scrollbar {
  $thumb-color: $color-pre-wrapper-bg;
  $track-color: transparent;
  /* firefox browser */
  scrollbar-width: auto;
  scrollbar-color: $thumb-color $track-color;
  /* webkit browsers */
  &::-webkit-scrollbar {
    background: $track-color;
  }
  &::-webkit-scrollbar-corner {
    background: $track-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    background-clip: content-box;
    border-radius: 1em;
    border: 3px solid $track-color;
  }
}

@define-mixin button {
  appearance: none;
  outline: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: top;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body { 
  min-height: 100%; 
  line-height: $rlh;
}

body {
  font-family: $font-family-body;
  font-size: 100%;
  margin: 0;
  background-color: $color-body-bg;
  color: $color-body-text;
  @mixin scrollbar;
}

h1, h2, ul, ol, p,
pre, .pre-wrapper, .list-center {
  margin-bottom: calc(1rem * $rlh);
}

.main-section {
  margin-bottom: calc(2rem * $rlh);
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
}

/*** PRISM THEME ***/
/* Adapted from  https://unpkg.com/prism-themes@1.3.0/themes/prism-material-dark.css */

code[class*="language-"], pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: $color-prism-default;
  background: $color-prism-background;
  font-family: $font-family-code;
  font-size: .875rem;
  line-height: $rlh;
  tab-size: 4;
  hyphens: none;

  &::selection, & ::selection {
    background: $color-prism-select;
  }
}

:not(pre) > code[class*="language-"] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

:not(pre) > code:not([class*="language-"]) {
  color: $color-inline-code;
  font-family: $font-family-code;
  line-height: $rlh;
  font-size: .875rem;
  hyphens: none;
  padding: .1em;
  border-radius: 0.2em;
  background: $color-inline-code-bg;
  position: relative;
}

pre[class*="language-"] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: $color-prism-orange;
}

.token {
  &.atrule, &.boolean, &.constant, &.function, &.keyword, &.symbol {
    color: $color-prism-purple;
  }
  &.attr-name, &.builtin, &.class {
    color: $color-prism-gold;
  }
  &.attr-value, &.attribute, &.pseudo-class, &.pseudo-element, &.string {
    color: $color-prism-green;
  }
  &.cdata, &.char, &.inserted, &.property {
    color: $color-prism-cyan;
  }
  &.class-name, &.hexcode, &.regex {
    color: $color-prism-yellow;
  }
  &.comment, &.doctype, &.prolog {
    color: $color-prism-gray;
  }
  &.deleted, &.entity, &.selector, &.tag, &.url, &.variable {
    color: $color-prism-red;
  }
  &.number, &.unit {
    color: $color-prism-orange;
  }
  &.operator, &.punctuation {
    color: $color-prism-blue;
  }
  &.id, &.important {
    color: $color-prism-purple;
    font-weight: bold;
  }
}

.pre-wrapper {
  position: relative;
  $pre-wrapper-radius: 4px;
  border-radius: $pre-wrapper-radius;
  background: $color-pre-wrapper-bg;
  padding: 1px;

  & header {
    position: relative;
    padding-left: .8em;
    border-radius: $pre-wrapper-radius $pre-wrapper-radius 0 0;
  }

  & pre[class*="language-"] {
    margin: 0;
    border-radius: 0 0 $pre-wrapper-radius $pre-wrapper-radius;
    @mixin scrollbar;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: hsla(0, 0%, 0%, .3);
  }
}

.container {
  display: flex;
  flex-direction: column;

  & nav#navbar {
    $navpane-shadow-right: 2px 0 5px $color-navbar-shadow;
    $navpane-shadow-bottom: 0 2px 5px $color-navbar-shadow;
    position: sticky;
    top: 0;
    z-index: 1;
    color: $color-navbar-text;
    background-color: $color-navbar-bg;
    box-shadow: $navpane-shadow-bottom;

    & .nav-container {
      position: sticky;
      top: 0;
    }

    @media $breakpoint {
      box-shadow: $navpane-shadow-right;
    }
  }

  & main#main-doc {
    flex: 1 1 auto;
    padding: 0 1rem;
    & > section {
      max-width: 80ch;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media $breakpoint {
    flex-direction: row;
  }
}

nav#navbar > .nav-container {
  $nav-list-transition: all .2s ease-out;
  $burger-height: 16px;
  $burger-bar-height: 2px;
  $burger-width: calc($burger-height * 1.5);
  $burger-color: currentColor;
  $burger-bar-border-radius: 2px;
  $burger-bar-top-transition: top .1s ease .2s, transform .1s ease;
  $burger-bar-top-checked-transition: top .1s ease, transform .1s ease .2s;
  $burger-bar-middle-transition: all .1s ease;
  $burger-bar-middle-checked-transition: all .1s ease .2s;
  $burger-bar-bottom-transition: bottom .1s ease .2s, transform .1s ease;
  $burger-bar-bottom-checked-transition: bottom .1s ease, transform .1s ease .2s;

  & input#burger-toggle { display: none; }
  & input#burger-toggle:checked {
    & ~ ul.nav-list {
      max-height: 100%;
      transition: $nav-list-transition;
    }

    & ~ header .burger-bar {
      &:nth-of-type(1) {
        top: calc(50% - ($burger-bar-height / 2));
        transform: rotate(45deg);
        transition: $burger-bar-top-checked-transition;
      }
  
      &:nth-of-type(2) {
        top: calc(($burger-height - $burger-width) / 2);
        height: $burger-width;
        background: rgba(0,0,0,0.1);
        border-radius: 50%;
        z-index: -1;
        transform: scale(1.1);
        transition: $burger-bar-middle-checked-transition;
      }
  
      &:nth-of-type(3) {
        bottom: calc(50% - ($burger-bar-height / 2));
        transform: rotate(-45deg);
        transition: $burger-bar-bottom-checked-transition;
      }
    }
  }

  & label.burger {
    position: relative;
    display: inline-block;
    width: $burger-width; 
    height: $burger-height;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
  
    @media $breakpoint {
      display: none;
    }
  }

  & label.burger > .burger-bar {
    display: block; 
    position: absolute; 
    background: $burger-color; 
    width: $burger-width; 
    height: $burger-bar-height;
    border-radius: $burger-bar-border-radius; 
    
    &:nth-of-type(1) {
      top: 0;
      transition: $burger-bar-top-transition;
    }

    &:nth-of-type(2) {
      top: calc(50% - ($burger-bar-height / 2));
      transition: $burger-bar-middle-transition;
    }

    &:nth-of-type(3) {
      bottom: 0;
      transition: $burger-bar-bottom-transition;
    }
    
  }

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4em;
    margin: 0 20px;

    & .logo-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2em;
      color: white;
      margin: 0;

      & .logo-heading-logo {
        height: 1.4em;
      }

      & .logo-heading-text {
        font-size: .7em;
        color: $color-logo-subtitle;
      }
      
      & svg {
        height: 100%;
        fill: currentColor;
      }

      @media $breakpoint {
        font-size: 1.2em;
      }
    }
  }

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: $nav-list-transition;
  
    & a.nav-link {
      display: block;
      color: inherit;
      text-decoration: none;
      height: calc(2rem * $rlh);
      line-height: calc(2 * $rlh);
      padding-left: 25px;

      &:hover, &:active {
        background-color: $color-navlink-bg-hover;
      }
    }
  
    @media $breakpoint {
      max-height: 100%;
    }
  }
} 

.main-section {

  & a {
    color: $color-body-link;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  & > header {
    position: relative;
    font-family: $font-family-section-heading;
    font-weight: 800;
    color: $color-section-heading;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      height: 2px;
      width: 100%;
      border-radius: 10px;
      background: $linear-grad-70gbg;
    }
  }

  /* Prevent targets from being hidden by navbar */
  &:target {
    scroll-margin-top: 60px;

    @media $breakpoint {
      scroll-margin-top: 10px;
    }
  }
}

.list-center {
  display: flex;
  justify-content: center;
  & > ul {
    padding: 0;
  }
  & ul {
    margin: 0;
  }
}

.tech-list {
  & ul {
    list-style-type: none;
  }
  & li::before {
    display: inline-block;
    content: "\2022";
    color: $color-tree-line;
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
  }
}

.tree-list {
  $tree-line-width: 1px;
  $tree-line-horizontal-length: 2ch;
  $tree-line-horizontal-pos-from-top: 60%;

  & ul {
    list-style-type: none;
  }

  & .list-outer > li > .list-inner {
    padding-left: 0.5ch;
    & > li > .list-inner {
      padding-left: calc($tree-line-horizontal-length + 1.5ch);
    }
  }

  & .l-bar, & .t-bar {
    padding-left: calc($tree-line-horizontal-length + 1ch);
    display: inline-block;
    position: relative;

    &::before, &::after {
      position: absolute;
      display: inline-block;
      content: "";
      top: 0;
      left: 0;
      width: $tree-line-horizontal-length;
    }
  }

  & .l-bar::before {
    height: $tree-line-horizontal-pos-from-top;
    border-left: $tree-line-width solid $color-tree-line;
    border-bottom: $tree-line-width solid $color-tree-line;
  }

  & .t-bar {
    &::before {
      height: 100%;
      border-left: $tree-line-width solid $color-tree-line;
    }
    &::after {
      left: $tree-line-width;
      height: $tree-line-horizontal-pos-from-top;
      width: calc($tree-line-horizontal-length - $tree-line-width);
      border-bottom: $tree-line-width solid $color-tree-line;
    }
  }
  
}

#custom_fcc_foldout_toggler {
  @mixin button;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  display: none;
  cursor: pointer;
  color: $color-body-text;
  background: $color-new-fcc-toggler-btn-bg;
  transition: all .2s;

  & svg {
    height: 1.1em;
    fill: currentColor;
    margin-right: 0.5ch;
  }

  &:hover, &:active {
    color: white;
  }

  &.is-open {
    color: hsl(120, 100%, 50%);
  }

  @media $breakpoint {
    display: inline-flex;
  }
}
